<mat-toolbar color="primary" class="header-container">
  <span class="logo">Portfolio</span>
  <span class="spacer"></span>
  <button mat-button class="nav-button" (click)="scrollToSection('home')">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-button class="nav-button" (click)="scrollToSection('resume')">
    <mat-icon>description</mat-icon>
    Resume
  </button>
  <button mat-button class="nav-button" (click)="scrollToSection('blog')">
    <mat-icon>article</mat-icon>
    Blog
  </button>
  <button mat-button class="nav-button" (click)="scrollToSection('contact')">
    <mat-icon>email</mat-icon>
    Contact
  </button>
</mat-toolbar>
